* {
    margin: 0;
    padding: 0;
}
html{
    background-image: url("http://pic.netbian.com/uploads/allimg/180826/113958-153525479855be.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.input{
    display: block;
    width: 570px;
    height: 80px;
    border: 1px solid black;
    resize: none;
    position: absolute;
}
.top{
    width: 570px;
    height: 156px;
    margin: 20px auto;
    position: relative;
}
.id{
    width: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*margin-left: 195px;*/
}
.submit{
    position: absolute;
    width: 60px;
    bottom: 5px;
    left: 505px;
}
.comments{
    margin:0 auto;
    width: 570px;
    height: 450px;
    border: 1px solid black;
    background-color: #99CCFF;
    position:relative;
    top: -10px;
}
ul{
    list-style: none;
    padding: 10px;
}
.com{
    display: block;
    width: 550px;
    height: 120px;
    border: 1px solid black;
    margin-bottom: 10px;
    overflow: auto;
    position: relative;
    font-size: 13px;
}
.page{
    position: absolute;
    margin-top: -14px;
    left: 484px;
}
.bottom1{
    position: absolute;
    margin-top: 5px;
    left: 500px;
}
.bottom2{
    position: absolute;
    margin-top: 5px;
    left: 450px;
}
.time{
    width: 220px;
    height: 19px;
    /*border: 1px solid red;*/
    position: absolute;
    bottom: 2px;
}
.upImg{
    width: 25px;
    height: 25px;
    background-image: url("img/up.png");
    position: absolute;
    bottom: 2px;
    right:200px;
}
.downImg{
    width: 25px;
    height: 25px;
    background-image: url("img/down.png");
    position: absolute;
    bottom: 0px;
    right: 100px;
}
.upNum {
    width: 70px;
    height: 14px;
    position: absolute;
    right: 130px;
    bottom: 4px;
}
.downNum{
    width: 70px;
    height: 14px;
    position: absolute;
    right: 30px;
    bottom: 4px;
}
.del{
    width:40px;
    height: 20px;
    position: absolute;
    bottom: 4px;
    right: 10px;
    text-align: center;
    background-color: #AEDD81;
}
.page{
    position: absolute;
    bottom: 32px;
    left: 480px;
}
.bottom1{
    position: absolute;
    bottom: 7px;
}
.bottom2{
    position: absolute;
    bottom: 7px;
}
span{
    color: #111111;
    font-size: 16px;
    font-weight: bold;
}